#stagebg
{
    /* background-color: #7F7F7F; */
    background-color:transparent;
}

#container
{
    /* background-image: "/css/classic/container-bg.png"; */
    background-color:transparent;
}

/*
********************************************************************************
Header area
********************************************************************************
*/
#header
{
    background-color:transparent;
}

/*
********************************************************************************
text output area
********************************************************************************
*/
#txtoutput
{
    background-color:transparent;
}

/*
********************************************************************************
text input area
********************************************************************************
*/
#txtinput
{
    background-color:transparent;
}

/*
********************************************************************************
controls area
********************************************************************************
*/
#controls
{
    background-color:transparent;
}